.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.headers {
  margin: 2em 0;
  text-align: center;
}

.headers h4 {
  display: inline-block;
}

.headers h4:hover {
  color: green;
}

.article-container {
   max-height: 35em;
   overflow-y: scroll;
}

.article-container::-webkit-scrollbar {
    width: 5px;
}


.article-container::-webkit-scrollbar-track {
box-shadow: 1px 1px 2px #aaa;
  border-radius: 10px blue;
}

.article-container::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 5px;
}

.articles {
    margin: 1em auto;
    width: 80%;
    border: 2px solid blue;
    padding: 1em;
    box-shadow: 1px 1px 2px #aaa;
}

.article-properties {
    display: flex;
    justify-content: space-between;
}

article {
    padding: 1em 0;
}

.by {
    font-weight: bold;
} 

@media (max-width: 720px) {
    .container {
        display: grid;
        grid-template-columns: 7fr;
      }
      
      .article-container {
        max-height: 100vh;
     }
}
