.main-nav {
  display: flex;
  background-color: green;
  justify-content: space-between;
  box-shadow: 1px 1px 2px #aaa;
}

.main-nav a {
  padding: 1em;
  font-size: 1em;
}

.sub-nav {
  display: flex;
  list-style: none;
}

.sub-nav li {
  padding: 1em;
}
